/*  your css code here. If applicable */
#container{
	margin: 20px;
}
#container::before{
	content:"Before";
	color:#f00;
	font-size:20px;
}
#container::after{
	content:"after";
	color:#f00;
	font-size:20px;
}